In [1]:
import pandas as pd
import numpy as np

In [2]:
#파일 열기
cctv_seoul = pd.read_excel('data/cctv_seoul.xlsx')

In [13]:
#파일 여는데, \t은 탭으로 seperate 돼있어서 따로 설정해준거임, 그리고 파일열어보면 header는 2번째 줄이라 설정해줌
pop_seoul = pd.read_csv('data/population_seoul.txt',sep='\t',header=2)

In [14]:
pop_seoul.head(3)

,기간,자치구,세대,계,남자,여자,계.1,남자.1,여자.1,계.2,남자.2,여자.2,세대당인구,65세이상고령자
0,2019.3/4,합계,"4,315,921","10,025,927","4,887,068","5,138,859","9,740,398","4,751,696","4,988,702","285,529","135,372","150,157",2.26,"1,468,146"
1,2019.3/4,종로구,"73,942","162,860","78,523","84,337","151,767","73,952","77,815","11,093","4,571","6,522",2.05,"27,394"
2,2019.3/4,중구,"62,593","136,663","67,030","69,633","126,409","62,161","64,248","10,254","4,869","5,385",2.02,"23,025"

In [9]:
cctv_seoul.head()

     기관명    소계  2011년 이전  2012년  2013년  2014년  2015년  2016년  2017년  2018년
0  강 남 구  5221    1944.0  195.0  316.0    430    546    765    577    448
1  강 동 구  1879     303.0  387.0  134.0     59    144    194    273    385
2  강 북 구  1265     243.0   88.0  141.0     74    145    254      1    319
3  강 서 구  1617     219.0  155.0  118.0    230    187    190    264    254
4  관 악 구  3985     430.0   56.0  419.0    487    609    619    694    671

In [16]:
# pop_seoul 1번째 이름을 구별로 바꿈
pop_seoul.rename(columns= {pop_seoul.columns[1]: '구별'})

,기간,구별,세대,계,남자,여자,계.1,남자.1,여자.1,계.2,남자.2,여자.2,세대당인구,65세이상고령자
0,2019.3/4,합계,"4,315,921","10,025,927","4,887,068","5,138,859","9,740,398","4,751,696","4,988,702","285,529","135,372","150,157",2.26,"1,468,146"
1,2019.3/4,종로구,"73,942","162,860","78,523","84,337","151,767","73,952","77,815","11,093","4,571","6,522",2.05,"27,394"
2,2019.3/4,중구,"62,593","136,663","67,030","69,633","126,409","62,161","64,248","10,254","4,869","5,385",2.02,"23,025"
3,2019.3/4,용산구,"109,911","244,989","119,499","125,490","228,830","110,478","118,352","16,159","9,021","7,138",2.08,"38,531"
4,2019.3/4,성동구,"136,466","311,290","152,134","159,156","303,158","148,510","154,648","8,132","3,624","4,508",2.22,"43,662"
5,2019.3/4,광진구,"164,173","368,337","177,749","190,588","352,692","171,103","181,589","15,645","6,646","8,999",2.15,"47,347"
6,2019.3/4,동대문구,"163,606","363,779","178,958","184,821","346,551","172,440","174,111","17,228","6,518","10,710",2.12,"58,764"
7,2019.3/4,중랑구,"181,448","403,776","199,959","203,817","398,812","197,927","200,885","4,964","2,032","2,932",2.20,"64,449"
8,2019.3/4,성북구,"191,465","454,114","218,857","235,257","441,590","214,094","227,496","12,524","4,763","7,761",2.31,"70,204"
9,2019.3/4,강북구,"143,680","317,875","154,784","163,091","314,090","153,356","160,734","3,785","1,428","2,357",2.19,"59,808"
10,2019.3/4,도봉구,"138,603","337,594","164,883","172,711","335,280","163,953","171,327","2,314",930,"1,384",2.42,"58,070"
11,2019.3/4,노원구,"217,058","539,829","261,141","278,688","535,282","259,204","276,078","4,547","1,937","2,610",2.47,"79,968"
12,2019.3/4,은평구,"207,410","486,159","234,228","251,931","481,663","232,383","249,280","4,496","1,845","2,651",2.32,"79,957"
13,2019.3/4,서대문구,"140,007","324,089","153,618","170,471","310,069","149,061","161,008","14,020","4,557","9,463",2.21,"51,708"
14,2019.3/4,마포구,"174,181","385,605","181,368","204,237","373,629","176,863","196,766","11,976","4,505","7,471",2.15,"51,961"
15,2019.3/4,양천구,"177,339","463,931","227,911","236,020","459,849","226,091","233,758","4,082","1,820","2,262",2.59,"60,487"
16,2019.3/4,강서구,"262,108","600,240","290,942","309,298","593,708","287,751","305,957","6,532","3,191","3,341",2.27,"82,937"
17,2019.3/4,구로구,"175,844","439,850","219,971","219,879","406,748","201,077","205,671","33,102","18,894","14,208",2.31,"64,952"
18,2019.3/4,금천구,"110,072","252,868","129,510","123,358","233,371","118,471","114,900","19,497","11,039","8,458",2.12,"37,191"
19,2019.3/4,영등포구,"174,309","402,478","201,944","200,534","368,402","182,913","185,489","34,076","19,031","15,045",2.11,"57,350"
20,2019.3/4,동작구,"180,841","410,487","198,593","211,894","397,618","192,829","204,789","12,869","5,764","7,105",2.20,"61,607"
21,2019.3/4,관악구,"268,226","519,953","260,386","259,567","502,117","251,923","250,194","17,836","8,463","9,373",1.87,"74,518"
22,2019.3/4,서초구,"173,215","435,258","208,297","226,961","431,027","206,185","224,842","4,231","2,112","2,119",2.49,"56,455"
23,2019.3/4,강남구,"232,115","549,043","262,829","286,214","544,028","260,305","283,723","5,015","2,524","2,491",2.34,"70,029"
24,2019.3/4,송파구,"278,340","684,338","331,364","352,974","677,489","328,073","349,416","6,849","3,291","3,558",2.43,"86,062"
25,2019.3/4,강동구,"178,969","430,522","212,590","217,932","426,219","210,593","215,626","4,303","1,997","2,306",2.38,"61,710"

In [17]:
#실제 데이터는 바뀐 것이 아님
pop_seoul

,기간,자치구,세대,계,남자,여자,계.1,남자.1,여자.1,계.2,남자.2,여자.2,세대당인구,65세이상고령자
0,2019.3/4,합계,"4,315,921","10,025,927","4,887,068","5,138,859","9,740,398","4,751,696","4,988,702","285,529","135,372","150,157",2.26,"1,468,146"
1,2019.3/4,종로구,"73,942","162,860","78,523","84,337","151,767","73,952","77,815","11,093","4,571","6,522",2.05,"27,394"
2,2019.3/4,중구,"62,593","136,663","67,030","69,633","126,409","62,161","64,248","10,254","4,869","5,385",2.02,"23,025"
3,2019.3/4,용산구,"109,911","244,989","119,499","125,490","228,830","110,478","118,352","16,159","9,021","7,138",2.08,"38,531"
4,2019.3/4,성동구,"136,466","311,290","152,134","159,156","303,158","148,510","154,648","8,132","3,624","4,508",2.22,"43,662"
5,2019.3/4,광진구,"164,173","368,337","177,749","190,588","352,692","171,103","181,589","15,645","6,646","8,999",2.15,"47,347"
6,2019.3/4,동대문구,"163,606","363,779","178,958","184,821","346,551","172,440","174,111","17,228","6,518","10,710",2.12,"58,764"
7,2019.3/4,중랑구,"181,448","403,776","199,959","203,817","398,812","197,927","200,885","4,964","2,032","2,932",2.20,"64,449"
8,2019.3/4,성북구,"191,465","454,114","218,857","235,257","441,590","214,094","227,496","12,524","4,763","7,761",2.31,"70,204"
9,2019.3/4,강북구,"143,680","317,875","154,784","163,091","314,090","153,356","160,734","3,785","1,428","2,357",2.19,"59,808"
10,2019.3/4,도봉구,"138,603","337,594","164,883","172,711","335,280","163,953","171,327","2,314",930,"1,384",2.42,"58,070"
11,2019.3/4,노원구,"217,058","539,829","261,141","278,688","535,282","259,204","276,078","4,547","1,937","2,610",2.47,"79,968"
12,2019.3/4,은평구,"207,410","486,159","234,228","251,931","481,663","232,383","249,280","4,496","1,845","2,651",2.32,"79,957"
13,2019.3/4,서대문구,"140,007","324,089","153,618","170,471","310,069","149,061","161,008","14,020","4,557","9,463",2.21,"51,708"
14,2019.3/4,마포구,"174,181","385,605","181,368","204,237","373,629","176,863","196,766","11,976","4,505","7,471",2.15,"51,961"
15,2019.3/4,양천구,"177,339","463,931","227,911","236,020","459,849","226,091","233,758","4,082","1,820","2,262",2.59,"60,487"
16,2019.3/4,강서구,"262,108","600,240","290,942","309,298","593,708","287,751","305,957","6,532","3,191","3,341",2.27,"82,937"
17,2019.3/4,구로구,"175,844","439,850","219,971","219,879","406,748","201,077","205,671","33,102","18,894","14,208",2.31,"64,952"
18,2019.3/4,금천구,"110,072","252,868","129,510","123,358","233,371","118,471","114,900","19,497","11,039","8,458",2.12,"37,191"
19,2019.3/4,영등포구,"174,309","402,478","201,944","200,534","368,402","182,913","185,489","34,076","19,031","15,045",2.11,"57,350"
20,2019.3/4,동작구,"180,841","410,487","198,593","211,894","397,618","192,829","204,789","12,869","5,764","7,105",2.20,"61,607"
21,2019.3/4,관악구,"268,226","519,953","260,386","259,567","502,117","251,923","250,194","17,836","8,463","9,373",1.87,"74,518"
22,2019.3/4,서초구,"173,215","435,258","208,297","226,961","431,027","206,185","224,842","4,231","2,112","2,119",2.49,"56,455"
23,2019.3/4,강남구,"232,115","549,043","262,829","286,214","544,028","260,305","283,723","5,015","2,524","2,491",2.34,"70,029"
24,2019.3/4,송파구,"278,340","684,338","331,364","352,974","677,489","328,073","349,416","6,849","3,291","3,558",2.43,"86,062"
25,2019.3/4,강동구,"178,969","430,522","212,590","217,932","426,219","210,593","215,626","4,303","1,997","2,306",2.38,"61,710"

In [20]:
#바꾸려면? 
#pop_seoul = pop_seoul.rename(columns= {pop_seoul.columns[1]: '구별'})
#혹은
pop_seoul.rename(columns={pop_seoul.columns[1]: '구별'}, inplace=True)
pop_seoul

,기간,구별,세대,계,남자,여자,계.1,남자.1,여자.1,계.2,남자.2,여자.2,세대당인구,65세이상고령자
0,2019.3/4,합계,"4,315,921","10,025,927","4,887,068","5,138,859","9,740,398","4,751,696","4,988,702","285,529","135,372","150,157",2.26,"1,468,146"
1,2019.3/4,종로구,"73,942","162,860","78,523","84,337","151,767","73,952","77,815","11,093","4,571","6,522",2.05,"27,394"
2,2019.3/4,중구,"62,593","136,663","67,030","69,633","126,409","62,161","64,248","10,254","4,869","5,385",2.02,"23,025"
3,2019.3/4,용산구,"109,911","244,989","119,499","125,490","228,830","110,478","118,352","16,159","9,021","7,138",2.08,"38,531"
4,2019.3/4,성동구,"136,466","311,290","152,134","159,156","303,158","148,510","154,648","8,132","3,624","4,508",2.22,"43,662"
5,2019.3/4,광진구,"164,173","368,337","177,749","190,588","352,692","171,103","181,589","15,645","6,646","8,999",2.15,"47,347"
6,2019.3/4,동대문구,"163,606","363,779","178,958","184,821","346,551","172,440","174,111","17,228","6,518","10,710",2.12,"58,764"
7,2019.3/4,중랑구,"181,448","403,776","199,959","203,817","398,812","197,927","200,885","4,964","2,032","2,932",2.20,"64,449"
8,2019.3/4,성북구,"191,465","454,114","218,857","235,257","441,590","214,094","227,496","12,524","4,763","7,761",2.31,"70,204"
9,2019.3/4,강북구,"143,680","317,875","154,784","163,091","314,090","153,356","160,734","3,785","1,428","2,357",2.19,"59,808"
10,2019.3/4,도봉구,"138,603","337,594","164,883","172,711","335,280","163,953","171,327","2,314",930,"1,384",2.42,"58,070"
11,2019.3/4,노원구,"217,058","539,829","261,141","278,688","535,282","259,204","276,078","4,547","1,937","2,610",2.47,"79,968"
12,2019.3/4,은평구,"207,410","486,159","234,228","251,931","481,663","232,383","249,280","4,496","1,845","2,651",2.32,"79,957"
13,2019.3/4,서대문구,"140,007","324,089","153,618","170,471","310,069","149,061","161,008","14,020","4,557","9,463",2.21,"51,708"
14,2019.3/4,마포구,"174,181","385,605","181,368","204,237","373,629","176,863","196,766","11,976","4,505","7,471",2.15,"51,961"
15,2019.3/4,양천구,"177,339","463,931","227,911","236,020","459,849","226,091","233,758","4,082","1,820","2,262",2.59,"60,487"
16,2019.3/4,강서구,"262,108","600,240","290,942","309,298","593,708","287,751","305,957","6,532","3,191","3,341",2.27,"82,937"
17,2019.3/4,구로구,"175,844","439,850","219,971","219,879","406,748","201,077","205,671","33,102","18,894","14,208",2.31,"64,952"
18,2019.3/4,금천구,"110,072","252,868","129,510","123,358","233,371","118,471","114,900","19,497","11,039","8,458",2.12,"37,191"
19,2019.3/4,영등포구,"174,309","402,478","201,944","200,534","368,402","182,913","185,489","34,076","19,031","15,045",2.11,"57,350"
20,2019.3/4,동작구,"180,841","410,487","198,593","211,894","397,618","192,829","204,789","12,869","5,764","7,105",2.20,"61,607"
21,2019.3/4,관악구,"268,226","519,953","260,386","259,567","502,117","251,923","250,194","17,836","8,463","9,373",1.87,"74,518"
22,2019.3/4,서초구,"173,215","435,258","208,297","226,961","431,027","206,185","224,842","4,231","2,112","2,119",2.49,"56,455"
23,2019.3/4,강남구,"232,115","549,043","262,829","286,214","544,028","260,305","283,723","5,015","2,524","2,491",2.34,"70,029"
24,2019.3/4,송파구,"278,340","684,338","331,364","352,974","677,489","328,073","349,416","6,849","3,291","3,558",2.43,"86,062"
25,2019.3/4,강동구,"178,969","430,522","212,590","217,932","426,219","210,593","215,626","4,303","1,997","2,306",2.38,"61,710"

In [22]:
#cctv_seoul 도 바꾸기
cctv_seoul.rename(columns={cctv_seoul.columns[0]: '구별'}, inplace=True)
#혹은
columnnames = list(cctv_seoul.columns)
columnnames[0] = '구별'
cctv_seoul.columns = columnnames

In [25]:
cctv_seoul['구별'][1]

'강 동 구'